/* 상단바 */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}

.header__inner {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand img {
  display: block;
  height: 28px; /* 로고 높이 조절 필요(수정 예정) */
  width: auto;
}

.gnb__list {
  display: flex;
  gap: 36px;
  color: #737373;
}

.gnb__list a {
  display: inline-block;
  padding: 8px 0;
  font-size: 14px;
  /* color: #111; */
}

/* 하단바 */
.site-footer {
  background: #000;
  color: #bdbdbd;
  padding: 36px 0;
}

.footer__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* 구분선 */
.footer__inner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #333;
  top: 172px;
}

/* 왼쪽 영역 */
.footer__left {
  flex: 1;
  min-width: 0;
}

.footer__brand img {
  display: block;
  height: 28px;
  width: auto;
  margin-bottom: 14px;
}

/* 상단 링크 라인 */
.footer__links {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  margin-bottom: 18px;
}
.footer__links a {
  color: #d9d9d9;
  font-size: 13px;
}

/* 주소,연락처 */
.footer__info {
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* 구분선 */
/* .footer__left::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  margin: 22px 0;
} */

/* 카피라이트 */
.footer__copy {
  font-size: 12px;
  color: #7a7a7a;
  margin-top: 50px;
}

/* SNS 마크 */
.footer__right {
  position: absolute;
  right: 0;
  top: 112px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer__right a {
  display: inline-flex;
}
.footer__right img {
  /* display: block; */
  width: 28px;
  height: 28px;
}

/* TOP button(위치 수정 예정) */
.top-btn {
  position: fixed;
  right: 24px;
  top: 110px;
  z-index: 2000;
  width: 56px;
  height: 56px;
  background: #e60012;
  color: #fff;
  border: 0;
  font-weight: 800;
  cursor: pointer;
}
